@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MyriadProLight";
  src: url("./fonts/MyriadPro-Light.woff") format("woff");
}
@font-face {
  font-family: "MyriadProREGULAR";
  src: url("./fonts/MYRIADPRO-REGULAR.woff") format("woff");
}
@font-face {
  font-family: "MyriadProSemiBold";
  src: url("./fonts/MYRIADPRO-SEMIBOLD.woff") format("woff");
}
@font-face {
  font-family: "MyriadProBold";
  src: url("./fonts/MYRIADPRO-BOLD.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "MyriadProREGULAR";
}

.MyriadProLight {
  font-family: "MyriadProLight";
}
.MyriadProREGULAR {
  font-family: "MyriadProREGULAR";
}
.MyriadProSemiBold {
  font-family: "MyriadProSemiBold";
}

.MyriadProBold {
  font-family: "MyriadProBold";
}

.main-container {
  @apply max-w-[1236px] mx-auto px-5;
}
.footer-icon {
  @apply bg-white hover:bg-blue hover:text-white text-blue transition-all ease-in-out duration-300 p-2 rounded-md;
}
.header-dash {
  @apply bg-white w-14 h-[2px] max-w-[56px] mx-auto;
}
.overlay {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 144px 48px;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}
.inner-container {
  @apply max-w-[1560px] mx-auto px-2 md:px-10;
}
.services-grid {
  @apply bg-white hover:border-[3px] md:max-w-full max-w-[400px] mx-auto hover:border-blueLight border-[3px] transition-all ease-in-out duration-300 border-white px-6 min-h-[400px] h-full py-3 flex flex-col  justify-between;
}
.sub_heading {
  font-family: "MyriadProSemiBold";
  @apply text-[30px] font-bold text-headingblue;
}
.bg-contact {
  background-image: url("./../images/contactbg.png");
  @apply bg-no-repeat bg-cover;
}
.input-contact {
  font-family: "MyriadProSemiBold";
  @apply md:max-w-[327px] max-w-[100%] w-full focus:outline-none placeholder:text-base bg-transparent border border-[#3fb2ea] placeholder:text-[#e3f2fb] px-4 py-4 rounded-[7px] text-[#b8b7cc] focus-within:bg-white focus-within:shadow-lg transition-all  focus-within:border-white;
}
.text_area {
  font-family: "MyriadProSemiBold";
  @apply md:max-w-[677px] max-w-[100%] w-full focus:outline-none placeholder:text-base bg-transparent border border-[#3fb2ea] placeholder:text-[#e3f2fb] px-4 py-4 rounded-[7px] text-[#b8b7cc] focus-within:bg-white focus-within:shadow-lg transition-all  focus-within:border-white;
}
.message {
  font-family: "MyriadProSemiBold";
  @apply border-[2px] text-base px-12 py-3 rounded-[4px] border-[#80ccf1] hover:bg-white hover:text-grayLight text-white transition-all bg-transparent;
}
.footer-heading {
  font-family: "MyriadProSemiBold";
  @apply text-footerHeading text-lg font-semibold mb-8;
}
.header-bgImg {
  background-image: url("./../images/Banner.png");
  @apply bg-no-repeat bg-cover bg-center h-screen;
}
.header_btn {
  @apply bg-white rounded-full px-10 py-[18px] text-[15px] text-[#00aff0];
}
.fb-footer {
  @apply bg-white hover:bg-facebook hover:text-white transition-all ease-in-out duration-300 rounded-full p-3 cursor-pointer;
}
.tw-footer {
  @apply bg-white hover:bg-twitter hover:text-white transition-all ease-in-out duration-300 rounded-full p-3 cursor-pointer;
}
.pin-footer {
  @apply bg-white hover:bg-pinterest hover:text-white transition-all ease-in-out duration-300 rounded-full p-3 cursor-pointer;
}
